<div class="container">
    <h1>REGISTER ACCOUNT NOW!</h1>
<form class="row g-3 mt-4" method="POST" action="/register" autocomplete="off">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Enter your email">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Enter your password">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Enter your Address">
  </div>
 
  
   <div class="col-12 mt-5">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>